---
const personalImageAlt = "Agustín Meikle"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-300/80 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Agustin Meikle soy de Uruguay pero vivo en Mar del Plata, Argentina. Mi comienzo en la programación fue al ver la película "Grandes Héroes". Actualmente estoy
      <strong>trabajando en la mantención y mejoras de plataformas web</strong>.
    </p>

    <p>
      Uno de mis principales logros fue <strong>recibirme de la Facultad Tecnológica Nacional de Mar del Plata como Técnico en Programación</strong>. Esto me ayudó a entender y profundizar mis conocimientos en programación.
    </p>

    <p>
      Actualmente estoy <strong>estudiando una Licenciatura en Inteligencia Artificial en la Universidad de Palermo, Buenos Aires</strong>. Además de seguir capacitándome en desarrollo web y tecnologías relacionadas.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-blue-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>