---
import LinkedInIcon from "@/icons/LinkedInIcon.astro";
import MailIcon from "@/icons/MailIcon.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHub from "@/icons/GitHubIcon.astro";

const personalImageAlt = "Agustín Meikle";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me_LinkedIn.jpeg"
      alt={personalImageAlt}
    />
    <!-- <a
      href="https://www.linkedin.com/in/agustin-meikle/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    > -->
    <!-- <Badge>Disponible para trabajar</Badge> -->
  </div>
</div>
<h1
  class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
>
  Hola! Soy Agus
</h1>
<p
  class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-blue-200 [&>strong]:text-blue-500 [&>strong]:font-semibold dark:text-gray-300"
>
  +1 año de experiencia. <strong>Desarrollador Web</strong> de Mar del Plata, Argentina.
  Especializado en crear aplicaciones únicas.
</p>
<nav class="flex flex-wrap gap-4 mt-8">
  <SocialPill href="mailto:agusmeikle@gmail.com">
    <MailIcon class="size-4" />
    agusmeikle@gmail.com
  </SocialPill>
  <SocialPill href="https://www.linkedin.com/in/agustin-meikle/">
    <LinkedInIcon class="size-4" />
    LinkedIn
  </SocialPill>
  <SocialPill href="https://github.com/AgusMeikle">
    <GitHub class:list={["size-4 md:size-6 mr-2"]} />
    GitHub
  </SocialPill>
</nav>
